[submodule "/home/thomas/dotfiles/.config/rofi"]
	path = config/rofi
	url = git@github.com:abstractionmage/rofi-theme.git
[submodule ".config/kitty"]
	path = config/kitty
	url = git@github.com:abstractionmage/kitty-config.git
[submodule "local/share/applications"]
	path = local/share/applications
	url = git@github.com:abstractionmage/desktop-files.git
