configuration {
	display-drun: "Applications";
	show-icons: true;
}

element {
	orientation: horizontal;
	children: [ element-icon, element-text ];
	spacing: 8px;
}

@theme "~/.config/rofi/theme.rasi"

